/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #154c79;
  --ifm-color-primary-dark: #13446d;
  --ifm-color-primary-darker: #124167;
  --ifm-color-primary-darkest: #0f3555;
  --ifm-color-primary-light: #175485;
  --ifm-color-primary-lighter: #18578b;
  --ifm-color-primary-lightest: #1b639d;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #02afd7;
  --ifm-color-primary-dark: #029ec1;
  --ifm-color-primary-darker: #0295b7;
  --ifm-color-primary-darkest: #0295b7;
  --ifm-color-primary-light: #02c1ed;
  --ifm-color-primary-lighter: #02c9f7;
  --ifm-color-primary-lightest: #1dd3fd;
}

.video-container {
  position: relative;
  /* overflow: hidden; */
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}